.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#000000;letter-spacing:0em;}
.Normal_-40Web-41 {color:#000000;}
.Hyperlink {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;text-transform: none;color:#003399;letter-spacing:0em;}
.Strong {font-family:'Open Sans';font-weight:normal;font-style:normal;text-decoration:none;text-transform: none;letter-spacing:0em;}
